



.Hangman {
    width: auto;
    height:auto;
    color: black;
    text-align: center;
    zoom: 1.3;
  }
  
  .Hangman img {
    border: 10px solid white;
  
    
  }

  .imageSize{
    width: auto;
    height:auto;
  }
  
  .Hangman h1 {

    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 0.1em;
    margin-top: 0;
  }
  
  .Hangman-word {
    letter-spacing: 1em;
    margin: 0.4em -1em 0.2em 0;
    font-size: 2rem; 
  
  }
  
  .Hangman-btns {
    text-align: center;
    display: inline-block;
    width: 250px;
    margin-top: 0;
  
  }
  
  .Hangman button {
    border:none;
   background-color: white;
    font-family: Chalkduster, fantasy;
    font-size: 1rem;
    cursor: pointer;
    width: 30px;
    margin: 5px 2px 2px 2px;
    letter-spacing: 1px;
    outline:black;
    border-radius: 5px;
    padding-top: 4px;
  }
  
  #reset {
    width: 80px;
  
  }
  
  .Hangman button:hover {
  
    color: grey;
  }
  
  .Hangman button:disabled {
   
    color: #eeeeee;
  
  }
  .helpButton{
   padding-left:15px;
 padding-right: 45px;
  
  }

  .resetDiv{
    display:inline-flex;
    align-items: center;
    justify-content: center;
  }

   
  